<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading font-bold">Spline</div>
      <div class="panel-body heat-map" id="map"></div>
    </div>
  </div>
</div>
