<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading font-bold">
        Canceled order count
        <div class="pull-right">
          <select name="timeRange" id="cancelationMapTimeRange">
            <option value="minutly">last 1 minutes</option>
            <option value="hourly">last 1 hours</option>
            <option value="daily">today</option>
          </select>
        </div>
      </div>
      <div class="panel-body heat-map" id="map"></div>
    </div>
  </div>
</div>
